---
---

<!DOCTYPE html>
<html lang="en-us">

<head>

  <meta charset="utf-8">
  <meta name="robots" content="index,follow">
  <meta name="revisit-after" content="1 days">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="cleartype" content="on">

  <title>{{ site.title }}</title>

  <link type="text/css" href="http://fonts.googleapis.com/css?family=Share:400,700" rel="stylesheet">
  <link type="text/css" href="{{ site.baseurl }}/import/main.css" rel="stylesheet">
  <link type="text/css" href="{{ site.baseurl }}/import/magnific-popup.css" rel="stylesheet">
  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57665802-1', 'auto');
  ga('send', 'pageview');
  </script>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/import/jquery.magnific-popup.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/import/jquery.lazyload.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/import/global.js"></script>

</head>

<body>

<img class="logo" src="{{ site.baseurl }}/import/logo.png" />

<div class="main-header">

  <p>This is a playlist called <b>{{ site.title }}</b>, a carefully chosen selection of music I discovered over the years by playing video games. Hopefully you will enjoy it as much as I do! If you think something is missing or just want to say hello, please use Twitter <a href="https://twitter.com/lukafaxx">@lukafaxx</a>.</p>

{% include mosaic.html %}

</div>

<div class="main-content">

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- digitarhythm responsive -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-4780702569603413"
       data-ad-slot="2698801885"
       data-ad-format="auto"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

  {% include module.html %}

</div>

</body>
</html>
