{% for music in site.data.music %}
{% for selection in music.selection %}
{% assign shortname = selection.game | downcase | remove:" " | remove:"-" | remove:"'" | remove:":" | remove:"&" %}
<div class="module" style="background-image: url('./img/{{ shortname }}.jpg')">

<div class="year">{{ music.year }}</div>

<div class="hover-content">
    <div class="musicgame">{{ selection.game }}</div>
    <a target="_blank" href="https://www.youtube.com/watch?v={{ selection.id }}"><div class="play">listen</div></a>
    <div class="musicinfo">
        <div class="musicartist">{{ selection.artist }}</div>
        <div class="musictitle">{{ selection.title }}</div>
    </div>
</div>

</div>
{% endfor %}
{% endfor %}
